<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"> 
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
		<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
		<style>
			html {
				padding: 3.2em 1.6em;
			}
			body {
				max-width: 800px;
				margin:	0 auto;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<h1>Katarzyna Mickiewicz<br/>Adam Dąbrowski 😎</h1>
		</div>
		{{#reports}}
		<div class="report">
			{{{.}}} <!-- triple mustache prevents escaping html (and dot means current element) -->
		</div>
		{{/reports}}
	</body>
</html>